.homepage_container {
    background-color: #171a1cc9;
    height: 100vh;
    width: 100%;
}

.homepage_navbar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.homepage_navbar_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage_navbar_email{
    position: absolute;
    top: 25px;
    right: 10px;
}

.done-icon{
    position: absolute;
    top: -5px;
    right: -5px;
}

.done-icon > img{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.homepage_navbar_notif{
    position: absolute;
    top: 25px;
    right: 60px;
}

.homepage_navbar h2, .homepage_navbar h6 {
    color: white;
    margin: 0; 
}

.homepage_activities {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    justify-content: space-between; /* Distributes items evenly along the main axis */
    padding: 1.5rem;
    align-items: center;
}

.homepage_clip_info {
    width: calc(50% - 0.75rem); /* Adjust the width to fit two cards with spacing */
    margin-bottom: 1.5rem; /* Adds space between rows */
    border-radius: 8px;
    overflow: hidden;
}

.homepage_clip_info_invoice{
    width: calc(50% - 0.75rem); /* Adjust the width to fit two cards with spacing */
    margin-bottom: 1.5rem; /* Adds space between rows */
    border-radius: 8px;
    overflow: hidden;
    height: max-content;
}

.homepage_clip_info_next{
    margin-top: 0;
    width: calc(50% - 0.75rem); /* Adjust the width to fit two cards with spacing */
    margin-bottom: 1.5rem; /* Adds space between rows */
    border-radius: 8px;
    overflow: hidden;
    height: max-content;
}

.activity-title {
    padding: 10px 10px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.activity-title p {
    margin: 0;
    text-align: center; 
}

.activity_info{
    background-color: white;
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.activity_info_button{
    background-color: white;
    padding: 8px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; 
}

.activity_info > p {
    margin: 0;
    text-align: center; 
}

.line {
    height: 0.8px;  /* Make the divider line thicker or thinner as you prefer */
    background-color: grey;  /* Change the color if needed */
    width: 100%;  /* Ensure it spans the full width of its container */ /* Add vertical spacing around the line */
    margin: 5px;
}

.df{
    display: flex;
    overflow-y: scroll;
    justify-content: space-between;
    background-color: white;
}
.df iframe {
    padding: 4px;
    border-radius: 7px;
}

@media only screen and (max-width: 700px) {

    .homepage_activities {
        display: block;
        /* flex-wrap: wrap; Allows items to wrap to the next line */
        /* justify-content: space-between; Distributes items evenly along the main axis */
        /* padding: 1.5rem; */
    }
    .homepage_clip_info{
        width: 100%;
    }
  }